[Unit]
Description=Aether daemon
After=network-online.target

[Service]

# Run as aeth:aeth
User=aeth
ExecStart=/home/aeth/go/bin/kvd start
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target